.container {
  background-color: var(--clr-container-clr);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: auto;
  max-height: 110vh;
}
.title-div-container {
  width: 100%;
  height: 100%;
  background-color: var(--clr-container-clr);
  z-index: 105;
  position: relative;
  padding: 0.25rem;
  grid-column: 1/-1;
}

.title-div {
  display: flex;
  gap: 5rem;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  border-radius: 1rem;
  z-index: 105;
  position: relative;
}

.logo-div {
  display: inline-block;
  margin-left: 2rem;
}

h1 {
  flex: 0 0 1;
  display: inline-block;
  align-self: center;
  margin: auto;
}

.title-div h1 {
  justify-self: center;
  font-size: 3.2rem;
  color: var(--clr-text-clr);
  text-transform: uppercase;
}

/* ********************** */
/* *******SIDEBAR******* */
/* ********************** */
.titleincanvas {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}
#simscreen {
  grid-column: 1/-1;
  justify-self: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fffcfc;
  box-shadow: 0 1rem 1rem 0 rgba(177, 176, 176, 0.855);
  padding: 1.2rem 1.6rem;
  margin: 0.25rem;
  border-radius: 0.9rem;
  left: 0;
  cursor: pointer;
}

.logo-div {
  padding: 0.8rem 0;
  width: 8rem;
}

.logo {
  width: 100%;
}

.tool-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2rem;
}

.tool-link:link,
.tool-link:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #333;
}

.tool-link[title="Variables"] {
  color: var(--clr-title-background);
}
.tool-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.tool-list span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
}

.tool-list--two {
  display: flex;
}

.icons {
  width: 4rem;
  height: 4rem;
  color: var(--clr-title-background);
}

/* ****************** */
/* *****MAIN******* */
/* ****************** */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0.25rem;
  margin-bottom: 0;
  border-radius: 0.9rem;
}

.task-title {
  font-size: 1.8rem;
  padding: 0.2rem 1.6rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  color: var(--clr-text-clr);
  letter-spacing: 0.15rem;
}

.main-section {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 50fr 50fr;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* padding: 0 1rem 0 0; */
}

.main__task-div {
  width: 100%;
  background-color: #ffffffc9;
  border-radius: 0.9rem;
  /* padding: 1.5rem; */
  max-height: 100%;
  font-size: 1.6rem;
  border: 0.5rem solid var(--clr-text-clr);
}

.main__task-div:nth-child(1) {
  position: relative;
  grid-column: 1/-1;
  /* grid-row: 1/4; */
}

.main__task-div:nth-child(2) {
  grid-column: 1/-1;
  /* grid-row: 1/4; */
}

.title-control-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--clr-title-background);
}

.footer {
  font-size: 1.2rem;
  padding: 0 1rem;
  grid-column: 1/-1;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background3),
    var(--clr-side-background2)
  );
  color: var(--clr-text-clr);
}

.div__control {
  /* position: absolute;
  top: 1.6rem;
  right: 2.2rem; */
  margin-top: 0.35rem;
  margin-right: 1rem;
}

.div__control img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.ctrl-icons {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--clr-title-background);
  color: var(--clr-text-clr);
}

/* ************simulation*********** */

/* canvas */
.canvas__div {
  width: 100%;
  border: 1px solid var(--clr-title-background);
  background-color: #fff;

  gap: 0;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#canvas-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
#canvas {
  border-left: 1px solid rgba(177, 176, 176, 0.855);
  width: 100%;
  height: 100%;
}
.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.circuit-dia {
  display: inline-block;
  position: relative;
  text-align: center;
  /* width: 10rem; */
  height: auto;
}

.circuit-dia img {
  width: 100%;
}
.cross-img {
  display: flex;
  position: relative;
  /* width: 100%; */
  height: auto;
  align-items: center;
  justify-content: center;
}
.cross-img img {
  width: 100%;
}

.other-sec {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
}
.tooltip {
  font-weight: 500;
  position: absolute;
  top: -2rem;
  left: 0;
  background-color: rgba(247, 247, 247, 0.5);
  padding: 0.5rem;
  font-size: 1.1rem;
  /* right: -10rem; */
  display: none;
}
.circuit-dia:hover span,
.cross-img:hover span {
  display: block;
}
.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#graphscreen1,
#graphscreen2 {
  border-top: 1px solid var(--clr-title-background);
}
/* **********VARIABLES**************** */
#variables {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.settings-sections {
  display: flex;
  flex-direction: column;
}

.variables-sections,
.control-sections {
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.var-div {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 80fr 20fr; */
  row-gap: 1rem;
  column-gap: 2rem;
  /* align-self: flex-end; */
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.input-container label {
  margin-left: 4rem;
}
.input-container span + span {
  margin-right: 4rem;
}

.var-spinner {
  display: inline-block;
}

.var-slider {
  width: 15rem;
  margin-left: 10rem;
}

#comments {
  color: #1b1b1b;
  align-self: stretch;
}

.control-sections {
  height: 100%;
}

.disabled {
  cursor: not-allowed;
}

.disabled-color {
  color: gray;
}
